{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}
{% block page_checkout_cart %}
    {{ parent() }}
    {% set email = page.IctechNewsletterCustomerEmail %}
    {% set cart = app.request.session.get('newsletterClick') %}
    {% set checkLogin = context.customer %}

    {% if config('newsletter.settings.activeSwitch') == true %}
    {% if checkLogin %}
        {# Login User #}
        <div class="modal fade" data-login="Login" data-session="{{ cart }}" data-newsletterUser="{{ checkSubscribeUser(context.customer.email) }}" id="newsletter" tabindex="-1" aria-labelledby="newsletterModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newsletterModalLabel">{{ config('newsletter.settings.promotionTitle')|replace({'%discount%': getPromoDiscount(context,config("newsletter.settings.promoCode"))})|raw }}</h5>
                            <button style="margin-left: 0" type="button"
                                    class="{{ modalCloseBtnClass }} close" {{ dataBsDismissAttr }}="modal"aria-label="Close">
                                {% block smn_optimizely_news_letter_popup_modal_close_button_content %}
                                    {% if not feature('v6.5.0.0') %}
                                        <span aria-hidden="true">{% sw_icon 'x' style { 'size': 'sm' } %}</span>
                                    {% endif %}
                                {% endblock %}
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="cms-block">
                            <div class="cms-element-form">
                                {% sw_include '@Storefront/storefront/element/cms-element-form/form-types/newsletter-form.html.twig'
                                    with {
                                    action: 'frontend.form.newsletter.register.handle',
                                    submitText: 'newsletter.formSubmit'
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            {# Guest User #}
            <div class="modal fade" data-login="Guest" data-session="{{ cart }}" id="newsletter" tabindex="-1" aria-labelledby="newsletterModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newsletterModalLabel">{{ config('newsletter.settings.promotionTitle')|replace({'%discount%': getPromoDiscount(context,config("newsletter.settings.promoCode"))})|raw }}</h5>
                            <button type="button"
                                    class="{{ modalCloseBtnClass }} close close-icon" {{ dataBsDismissAttr }}="modal"
                            aria-label="Close">
                            {% block smn_optimizely_news_letter_popup_modal_close_button_content_logout %}
                                {% if not feature('v6.5.0.0') %}
                                    <span aria-hidden="true">{% sw_icon 'x' style { 'size': 'sm' } %}</span>
                                {% endif %}
                            {% endblock %}
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="cms-block">
                                <div class="cms-element-form register">
                                    <h6 class="bg-light mb-3 p-2 text-center">{{ config("newsletter.settings.description")|replace({'%discount%': getPromoDiscount(context,config("newsletter.settings.promoCode"))})|raw }}</h6>
                                    <a href="{{ path('frontend.account.login.page') }}" class="btn btn-primary register">
                                        {{ "newsletterFormInfo.registerBtn"|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

