{% sw_extends '@Storefront/storefront/element/cms-element-form/form-types/newsletter-form.html.twig' %}

{% block cms_form_newsletter %}
    <h6 class="bg-light mb-3 p-2 text-center">{{ config("newsletter.settings.description")|replace({'%discount%': getPromoDiscount(context,config("newsletter.settings.promoCode"))})|raw }}</h6>
    <form action="{{ path(action) }}"
          method="post"
          class="form-style"
          id="form-example"
          data-form-csrf-handler="true"
          data-form-validation="true">
        {{ parent() }}
    </form>
{% endblock %}

{% block cms_form_newsletter_input_email %}
    {% set email = context.customer.email %}
    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
        with {
        value: email,
        fieldName: 'email',
        type: 'email',
        required: true,
        additionalClass: 'col-12',
        label: 'newsletter.labelMail',
        placeholder: 'newsletter.placeholderMail'
    }
    %}
{% endblock %}

{% block cms_form_newsletter_select_action %}
    <div class="form-group col-12 d-none">
        <label class="form-label" for="newsletterAction">
            {{ "newsletter.labelActionSelect"|trans }} {{ "general.required"|trans }}
        </label>

        <select name="option"
                id="newsletterAction"
                required="required"
                class="{{ formSelectClass }}"
                data-form-field-toggle="true"
                data-form-field-toggle-target=".js-field-toggle-newsletter-additional"
                data-form-field-toggle-value="subscribe">
            <option selected="selected"
                    value="{{ constant('Shopware\\Storefront\\Controller\\FormController::SUBSCRIBE') }}">
                {{ "newsletter.subscribeOption"|trans }}
            </option>
        </select>
    </div>
{% endblock %}

{% block cms_form_newsletter_additional_fields %}  {% endblock %}

